body {
    display: flex;
    flex-direction: column;
}
.title{
    text-align: center;
}
#board {
    border-spacing: 0;
    border-collapse: collapse;
}
#board td {
    width: 25px;
    height: 27px;
    border-style: solid;
    border-width: 1px;
}
#table,#form,#instructions{
    display: flex;
    flex-direction:column;
}
.piece {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: flex-end;
}